var getTitle = function (type) {
  switch (type) {
    //待执行
    case 0:
      return '待执行'
    //待质检
    case 1:
      return '待质检'
    //已质检
    case 2:
      return '已质检'
    //已完成
    case 3:
      return '已完成'
    //已拒单
    case 4:
      return '已拒单'
    //已叫停
    case 5:
      return '已叫停'
    //已取消
    case 6:
      return '已取消'
    default:
      return '我的订单'
  }
}

var getDesc = function (type) {
  switch (type) {
    //待执行
    case 0:
      return '抢单成功'
    //待质检
    case 1:
      return '待质检'
    //已质检
    case 2:
      return '已质检'
    //已完成
    case 3:
      return '已完成'
    //已拒单
    case 4:
      return '已拒单'
    //已叫停
    case 5:
      return '已叫停'
    //已取消
    case 6:
      return '已取消'
    default:
      return '其他'
  }
}

module.exports = {
  getTitle: getTitle,
  getDesc: getDesc,
}